services:
  db:
    image: postgres:15-alpine
    container_name: db
    environment:
      POSTGRES_USER: ${APP_DB_USER}
      POSTGRES_PASSWORD: ${APP_DB_PASSWORD}
      POSTGRES_DB: ${APP_DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${APP_DB_USER} -d ${APP_DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5
  
  adminer:
    image: adminer
    container_name: adminer_gui
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
  
  migrate:
    build:
      context: .
      dockerfile: Dockerfile.sqlx
    container_name: sqlx_migration_tool
    environment:
      - DATABASE_URL=postgres://${APP_DB_USER}:${APP_DB_PASSWORD}@db:5432/${APP_DB_NAME}
    volumes:
      - ./migrations:/migrations
    depends_on:
      db:
        condition: service_healthy
    command: ["migrate", "run", "--source", "/migrations"]
  
  zero2prod:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: zero2prod
    environment:
      APP_DB_USER: ${APP_DB_USER}
      APP_DB_PASSWORD: ${APP_DB_PASSWORD}
    ports:
      - "7878:7878"
    depends_on:
      db:
        condition: service_healthy
      migrate:
        condition: service_completed_successfully

volumes:
  postgres_data: