name: Release

on:
    push:
        tags:
            - 'v*'

jobs:
    build-release:
        name: Build and Release
        runs-on: ubuntu-latest
        permissions:
            contents: write

        steps:
            - uses: actions/checkout@v5

            - name: Set up Rust
              uses: dtolnay/rust-toolchain@stable

            - name: Build for Release
              run: cargo build --release --locked
            
            - name: Create GitHub Release
              uses: softprops/action-gh-release@v2
              with:
                files: target/release/EmailNewsLetter
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}